/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ////////////////////////////////////////////////// */

body{
    display: grid;
    /* grid-template-columns: 3fr 12fr; */
    grid-template-columns: minmax(250px, 2fr) minmax(200px, 12fr);
    font-family: 'Roboto',sans-serif;
    height:100vh;
    box-sizing: border-box;
}

img {
    width:40px;
    height:40px;
}
svg{
    width:33px;
    height:33px;
    fill: white;
}
#dashboard, #content, #top_bar {
    max-height: calc(100%);
    max-width: calc(100vw);
    /* overflow: hidden;  */
}
/* DASHBOARD */
#dashboard{
    background-color: #2596be;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:40px;
    padding:8% 0% 0% 10%;
}

#shortcuts ,#extended_shortcuts{
    display: flex;
    flex-direction: column;
    gap:8px;
}

#shortcuts button {
    display: flex;
    align-items: center;
    gap:25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    transition: scale 0.1s ease;
    transition: transform 0.2s ease;
}

#shortcuts button:hover {
    scale: 1.1;
    transition: scale 0.1s ease;
}

#shortcuts button:active {
    transform: translateY(3px);
    transition: transform 0.2s ease;
}
#shortcuts>button>p{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1.3rem;
}

#extended_shortcuts button {
    display: flex;
    align-items: center;
    gap:25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    transition: scale 0.1s ease;
    transition: transform 0.2s ease;
}

#extended_shortcuts button:hover {
    scale: 1.1;
    transition: scale 0.1s ease;
}

#extended_shortcuts button:active {
    transform: translateY(3px);
    transition: transform 0.2s ease;
}

#extended_shortcuts>button>p {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1.3rem;
}

#logo{
    display: flex;
    align-items: center;
    gap:12px;
    font-size: 1.7rem;
    font-weight: 900;
}

#logo svg{
    width:50px;
    height:50px;
}
/* CONTENT */
#content{
    background-color: cadetblue;
    display: grid;
    grid-template-rows: 1fr 4fr;
}


/* TOP BAR */
#top_bar{
    background-color: #ffffff;
    display:grid;
    grid-template-rows: 4fr 6fr;
    padding:1% 4%;
    row-gap: 20px;
    color: rgb(32, 32, 32);
}

#top_bar svg{
    fill: rgb(39, 39, 39);
}

    #highlight{
        /* display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;
        justify-items: center; */
        display: flex;
        justify-content: space-between;
        /* padding:2% 4% 0% 4%; */
    }

        #searchbar{
            /* display: grid ;
            grid-template-columns: 1fr 5fr;
            justify-self: flex-start;
            padding:3% 0% 4% 0%; */
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap:5px;
        }

        #searchbar input{
            width:46vw;
            grid-column: 2/3;
            box-shadow:none;
            border:none;
            background-color: #e2e8f0;
            min-height: 3.5vh;
            border-radius: 20px;
        }

        #notifications{
            display: flex;
            align-items: center;
            gap:14px
        }

    #info{
        grid-row: 2/3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* padding: 2% 4%; */
    }

        #greeting{
            display: flex;
            height: fit-content;
            align-items: center;
            gap:10px;
        }

            #greeting_name{
                font-weight: 600;
                font-size: 0.95rem;
                display: flex;
                flex-direction: column;
                height: fit-content;
                justify-content: space-between;
                gap:14px;
            }

        #buttons{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-wrap:nowrap;
            width:40%;
            gap:15px;
        }

        #buttons button{
            font-family: 'Roboto';
            background-color: #2596be;
            border: transparent;
            padding: 2% 4%;
            border-radius: 30px;
            color: white;
            font-weight: 600;
            font-size: 1rem;
            transition: scale 0.1s ease;
            transition: transform 0.1s ease;
        }

        #buttons button:hover{
            scale:1.1;
            transition: scale 0.1s ease;
            font-weight: 900;
        }

        #buttons button:active{
            transform: translateY(3px);
            transition: transform 0.1s ease;
        }

/* BOXES */
#boxes{
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 6fr 2fr;
    padding:1% 4% 1%;
    gap:50px;
}

    #projects{
        display: flex;
        flex-direction: column ;
        justify-content: space-between;
        gap:10px; 
    }

    #projects>p:first-child{
        font-weight: 700;
        font-size: 1.2rem ;
    }

        #grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            row-gap: 20px;
            column-gap: 20px;
            justify-items:flex-start;
        }

        #grid svg{
            fill: rgb(39, 39, 39);
            width: 30px;
            height: 30px;
        }
        .card{
            width: clamp(300px,23vw,25vw);
            height: clamp(180px,8vh,8vh);
            /* border: 5px solid black; */
            border-radius: 15px;
            padding:3% 5%;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-left: 5px solid #94be89;
        }

        .card p:first-child {
            font-weight: 700;
            font-size: 1.1rem;
            color: #1d1d1d;
        }
        
        .images{
            display: flex;
            align-self: flex-end;
            gap: 0.6vw;
        }

        .desc{
            display: flex;
            flex-direction: column;
            gap:15px;
        }
    

    #content_right{
        display: grid;
        grid-template-rows: 1fr 1fr;
        row-gap: 10px;
    }
    #announcements{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap:10px;
    }

    #announcements p:first-child{
        font-weight: 700;
        font-size: 1.2rem;
    }
    #announcements_box{
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        background-color: white;
        border-radius: 15px;
        padding: 5% 10%;
        color:rgb(39, 39, 39)
    }

    #announcements_box div{
        display: flex;
        flex-direction: column;
        gap:5px;
    }
    #announcements_box>div p:first-child{
        font-size:1rem;
        font-weight: 900;
    }

    #announcements_box>div p:last-child{
        font-size: 0.94rem;
    }

    #announcements div:not(:last-child) {
        border-bottom: 2px solid #ccc; 
        padding-bottom: 14px; 
        /* margin-bottom: 10px;  */
    }

    #trending{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #trending p:first-child{
        font-weight: 700;
        font-size: 1.2rem;
    }

    #trending_box{
        background-color: white;
        border-radius: 15px;
        padding: 10%;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .user {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        gap:8px;
    }

    .trend_user{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap:20px
    }

    .trend_user img{
        border-radius: 40px;
        height:50px;
        width:50px;
    }

    .user p:last-child{
        color:rgb(48, 48, 48)
    }